body{
  background-size: 100% 100vh;
  background-image: url(../imgs/bgpizza.jpg);
  background-repeat: no-repeat;
}
.form_lable{
  border: 1px solid #545454;
  border-radius: 50%;
}
.label-size{
  text-align: center;
  padding-top: 20px;
  width: 80px;
  height: 80px;
  font-size: 20px;
  color: mediumspringgreen;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 50%;
  background-color: tomato;
}
.label-active:checked{
  background-color: #fff;
}